body {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0;
}

.section-1 {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    margin:0;
    height:25%;
    flex-basis: 100%;
}

h1 {
    font-size:48px;
    font-weight:800;
    color:#F9FAF8;  
}

.h1-section-1 {
    margin-top:50px;
    margin-bottom:0;
}

h2 {
    font-size:24px;
    color:#F9FAF8;
   
}

.h2-section-1 {
     margin:8px;
    padding:0;
}

.subtext-1, a {
    font-size:18px;
    color:#E5E7EB;
}

ul {
    list-style-type: none;
    display:flex;
    gap:8px;
    margin:8px;
    padding:0;
}

a {
    text-decoration: none;
}

button {
    width:100px;
    border-radius: 8px;
    padding:4px;
    text-align: center;
    background-color:#3882F6;
    color:#F9FAF8;
}

.container-header {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0;
}

.container-text-button {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-and-button {
    width:300px;
    height:400px;
}

.container-image {
    display:flex;
    justify-content:center;
    align-items: center;
    margin:auto;
    padding:8px;
}

.container-image div {
    background-color:gray;
    color: #E5E7EB;
    width:400px;
    height:150px;
}

.placeholder {
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-text-button-image {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin:auto;
}

.section-2 {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100%;
    height:25%;
    flex-basis: 100%;
}

.h2-section-2 {
    color:black;
    margin-bottom:50px;
}

.subtext-2 {
    color:gray;
    width:130px;
    height:80px;
    text-align: center;
    margin-top:4px;
}

.illustrations {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.frame-1, .frame-2, .frame-3, .frame-4 {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100px;
    height:100px;
    border:4px solid #3882F6;
    border-radius: 8px;
}

.illustration-1, .illustration-2, .illustration-3, .illustration-4 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100%;
    height:25%;
    flex-basis: 100%;
    background-color:#E5E7EB;
}

.container-quote {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width:750px;
}

.subtext-3 {
    font-style:italic;
    font-size:36px;
    color:#1F2937;
}

.section-4 {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100%;
    height:25%;
    flex-basis: 100%;
    margin-bottom:50px;
}

.container-action-button {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:700px;
    height:70px;
    border-radius:4px;
    background-color: #3882F6;
    margin:50px auto 50px auto;
    padding:8px;
}

.action{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width:450px;
    height:100px;
    flex-grow: 0;
    flex-shrink: 1;
}

.h3-section-4 {
    color:white;
    margin-bottom:0;
}

.subtext-action {
    color:#E5E7EB;
    margin-top:0;
}

.button-action {
    border-color: white;
}

footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    width:100%;
    height:25%;
    flex-basis: 100%;
}

footer > p {
    color:white;
    font-size:36px;
}
